<div class="container p-4">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card text-center">
        <div class="card-header">
           <a class="btn-return" href="/profile/perfilmedico/{{id_medico}}">
                        <i class="fas fa-remove icon" style="color-white"></i></a>
                    <br>
          <h3>Perfil del Personal Medico</h3>
        </div>
                      {{#each perfilesmedicos}}
        <form action="/info/edit_perfilmedico/{{id_medico}}" method="POST" enctype="multipart/form-data">
          <div class="card-body">
            <div class="card ">
              <div class="form-group">
                <img src="/img/newregistro.png" id="previsualizar" class="img-perfil rounded-circle">
              </div>
            </div>
            <div class="card-body">
       <div class="form-group">
              <input class="form-control" type="file" name="image" id="seleccionimage">
            </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card">
<div class="form-group">
                  <p class="p-nombres2"> Nombres :</p>
                  <input type="type" name="nombres" value="{{nombres}}" class="form-control" autofocus>
                </div>
                <div class="form-group">
                  <p class="p-nombres2"> Apellidos :</p>
                  <input type="type" name="apellidos" value="{{apellidos}}" class="form-control">
                </div>
                <div class="form-group">
                  <p class="p-nombres2">Fecha de Nacimiento :</p>
                  <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="{{formatDate fecha_nacimiento}}"
                    class="form-control" autofocus>
                </div>
                <div class="form-group">
                  <p class="p-nombres2">Edad :</p>
                  <input type="type" id="edad" name="edad" value="{{edad}}" class="form-control">
                </div>
                <div class="form-group">
                  <p class="p-nombres2">Genero :</p>
                  <select name="genero" class="form-control">
                    <option value="{{genero}}">
                      <selected>{{genero}}</selected>
                    </option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
 <div class="form-group">
                  <p class="p-nombres2">Numero de DPI :</p>
                  <input type="type" name="dpi" value="{{dpi}}" class="form-control">
                </div>
                <div class="form-group">
                  <p class="p-nombres2">Telefono :</p>
                  <input type="type" name="telefono" value="{{telefono}}" class="form-control">
                </div>
                <div class="form-group">
                  <p class="p-nombres2">Dirección :</p>
                  <input type="type" name="direccion" value="{{direccion}}" class="form-control">
                </div>
                <div class="form-group">
                  <p class="p-nombres2">Estado Civil :</p>
                  <select name="estado_civil" class="form-control">
                    <option value="{{estado_civil}}">
                      <selected>{{estado_civil}}</selected>
                    </option>
                    <option value="Soltero">Soltero</option>
                    <option value="Casado">Casado</option>
                    <option value="Divorciado">Divorciado</option>
                  </select>
                </div>
                <div class="form-group">
                  <p class="p-nombres2">Area de Medicina :</p>
                  <select name="area_medica" class="form-control">
                    <option value="{{area_medica}}">
                      <selected>{{area_medica}}</selected>
                    </option>
                    <option value="Alergología">Alergología</option>
                    <option value="Anestesiología y reanimación">Anestesiología y reanimación</option>
                    <option value="Aparato digestivo">Aparato digestivo</option>
                    <option value="Cardiología">Cardiología</option>
                    <option value="Endocrinología y nutrición">Endocrinología y nutrición</option>
                    <option value="Geriatría">Geriatría</option>
                    <option value="Hematología y hemoterapia">Hematología y hemoterapia</option>
                    <option value="Medicina de la educación física y del deporte">Medicina de la educación física y del
                      deporte</option>
                    <option value="Medicina espacial">Medicina espacial</option>
                    <option value="Medicina intensiva">Medicina intensiva</option>
                    <option value="Medicina interna">Medicina interna</option>
                    <option value="Medicina legal y forense">Medicina legal y forense</option>
                    <option value="Medicina preventiva y salud pública">Medicina preventiva y salud pública</option>
                    <option value="Medicina del trabajo">Medicina del trabajo</option>
                    <option value="Nefrología">Nefrología</option>
                    <option value="Neumología">Neumología</option>
                    <option value="Neurología">Neurología</option>
                    <option value="Neurofisiología Clínica">Neurofisiología Clínica</option>
                    <option value="Oncología médica">Oncología médica</option>
                    <option value="Oncología radioterápica">Oncología radioterápica</option>
                    <option value="Pediatría">Pediatría</option>
                    <option value="Psiquiatría">Psiquiatría</option>
                    <option value="Rehabilitación">Rehabilitación</option>
                    <option value="Reumatología">Reumatología</option>
                    <option value="Medicina familiar y comunitaria">Medicina familiar y comunitaria</option>
                  </select>
                </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          <button class="btn btn-success btn-block">
            Actualizar Mi Perfil
          </button>
      </div>
      </form>
    </div>
  </div>
</div>